* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.container-pr{
    display: flex;
    width: 1295px;
    height: auto;
    /* background-color: whitesmoke; */
    flex-direction: column;
    position: relative;
}
.Stick{
    padding-top: 40px;
    position: sticky;
    z-index: 1;
    top: 0px;
    display: flex;
    width: 1400px;
    height: 120px;
    background-color: white;
    /* background-color: green; */
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.Stick span{
    margin-left: 80px;
}
.icon{
    display: inline-block;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    border-radius: 10%;
    font-size: x-large;
}
.right-box{
    display: flex;
    margin-right: 80px;
}
.icon-nar{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #F26464;
    color: white;
    border-radius: 50%;
    font-size: larger;
    padding-top: 14.7px;
    padding-left: 15px;
    margin-left: 5px;
}
.JASON{
    display: inline-block;
    margin-left: 5px;
}
.Introduce{
    display: flex;
    width: 1295px;
    height: auto;
}
.box{
    display: inline-block;
    margin-right: 100px;
    /* background-color: aqua; */
}
.box>p{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 30px;
}
.box strong{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #000;
}
.flash{
    display: flex;
    align-items: end;
    margin-top: 30px;
}
.box-child{
    display: inline-block;
    margin-right: 100px;
}
.box-child h1{
    color: #F26464;
    font-size: 300%;
}
.box p{
    font-size: large;
}
.title{
    display: inline-block;
    font-size: large;
    border-bottom: 3px solid #F26464;
    margin-top: 5%;
    padding-bottom: 7px;
    margin-bottom: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    /* background-color: aqua; */
}
.lorem{
    color: #373737;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;
}

.button-click{
    display: flex;
    justify-content: center;
}
.click{
    display: inline-block;
    /* margin: 0 auto;  */
    background-color: white  ;
    border: 2px solid #F26464;
    border-radius: 30px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 80px;
    font-weight: 2px bold;
    color: #F26464;   
}
.skill{
    display: flex;
    height: auto;
    /* background-color: aqua; */
    /* margin-left: 10px; */
    margin-bottom: 50px;
}
.both{
    display: inline-block;
    margin-right: 20px;
}
.row button{
    display: inline-block;
    background-color: white;
    font-size: large;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
}



.history{
    display: flex;
    margin-bottom: 50px;
}
.developer{
    display: inline-block;
    width: 600px;
    margin-left: 20px;
}
.developer h1{
    font-size: large;
    margin-bottom: 10px;
}
.developer>p{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}
.developer strong{
    color: #373737;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 30px;
}
.test{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

ul{
    margin-left: 30px;
}

.box-par{
    display: flex;
    flex-direction: column;
}
.shiken{
    display: flex;
    margin-bottom: 20px;
    background-color: rgb(249, 245, 245);
    justify-content: space-between;
}
.block-app{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    /* margin-bottom: 50px; */
}
.Str-word{
    font-size: xx-large;
    margin-bottom: 20px;
    font-weight: 700;
}
.finaltext{
    font-size: x-large;
    opacity: 0.8;
}
.black-touch{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
}
.stayin{
    font-size: larger;
    color: gray;
    font-weight: 700;
    margin-top: 6%;
}
.Ready{
    font-size: 300%;
    font-weight: 700;
    margin-top: 10px;
}
.feel{
    font-size: 130%;
    font-weight: 500;
    margin-top: 5px;
}
.Designtub{
    font-size: medium;
    margin-bottom: 6%;
}
.black-touch button{
    background-color: black;
}
.click:hover{
    background-color: #F26464;
    color: white;
}